.loader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: aquamarine; */
    border: 10px solid rgb(228, 9, 228);
    border-top: 10px solid rgb(0, 34, 255);
    animation: spinAnimate 2s ease-in 0s infinite normal ;
}

@keyframes spinAnimate{
    from{
         transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}